
# conda activate multimodal_gnn
# Lệnh này sẽ cài đặt thêm dvc-gdrive vào môi trường của họ
# pip install -r requirements_rest.txt --upgrade

# Data Processing & Analysis (Dùng cho A, B, D)
pandas
numpy
scikit-learn
matplotlib

# Computer Vision & Media (Dùng cho C)
opencv-python
pillow

# Utilities & MLOps 
transformers
open-clip-torch 
regex 
tqdm
pyyaml
pytest
pyarrow
kaggle
notebook
# THÊM DVC GOOGLE DRIVE CHO REMOTE STORAGE
dvc-gdrive