# Data Processing & Analysis (Dùng cho A, B, D)
pandas
numpy
scikit-learn
matplotlib

# Computer Vision & Media (Dùng cho C)
opencv-python
pillow

# Utilities & MLOps 
transformers
open-clip-torch 
regex 
tqdm
pyyaml
pytest
pyarrow
kaggle
notebook
